<footer id="footer">
    <div class="footer">
        <div class="footer_elem footer_social">
            <a class="navLink" href="">Instagram</a>
            <a class="navLink" href="">Linkedin</a>
            <a class="navLink" href="">Facebook</a>
        </div>
        <div class="footer_elem footer_adress">
            <a class="navbar-phone" href="tel:+380956979520">095&#8209;697&#8209;95&#8209;20</a>
            <span class="footer-address-fullsize">Сумская 77/79 (напротив ЛетоПарка)&nbsp;</span>
            <span class="footer-address-mobile">Сумская 77/79</span>
        </div>
        <div class="footer_elem footer_consultation ">
            <a class="navLink" id="consultationPopup"
               (click)="modalSwitcher()"><span>Бесплатная консультация</span>
                <svg width="60" height="8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M59.354 4.354a.5.5 0 0 0 0-.708L56.172.464a.5.5 0 1 0-.707.708L58.293 4l-2.828 2.828a.5.5 0 1 0 .707.708l3.182-3.182zM0 4.5h59v-1H0v1z"
                          fill="#4D4D4D"/>
                </svg>
            </a>
            <div class="consultation consultation-wrapper">
                <div class="consultation_popup-overlay" (click)="modalSwitcher()" [class.modal_open]="class"></div>
                <div class="consultation_popWindow consultation_subscribe_window" [class.modal_open]="class">
                    <p class="consultation_subcsribe-text">Оставьте ваш комментарий и мы свяжемся с Вами в
                        ближайшее время</p>
                    <form #form="ngForm" (ngSubmit)="sendEmail(form)" class="consultation_subscribe-form"
                          autocomplete="off">
                        <div>
                            <input type="text"
                                   id="name-subs"
                                   placeholder="Имя"
                                   name="username"
                                   [(ngModel)]="username"
                                   #name="ngModel"
                                   required>
                            <span class="star_req_form"> *</span>
                            <ul class="form_error_message"
                                *ngIf="name.touched && name.invalid || loading && name.invalid">
                                <li *ngIf="name.errors.required">
                                    Введите имя
                                </li>
                            </ul>
                        </div>
                        <div>
                            <input [(ngModel)]="phonenumber"
                                   #phone="ngModel"
                                   type='tel'
                                   prefix="+38"
                                   mask="(000) 000 00 00"
                                   [showMaskTyped]="true"
                                   id="tel-subs"
                                   name="tel"
                                   required
                                   minlength="10"
                            >

                            <span class="star_req_form"> *</span>
                            <ul class="form_error_message"
                                *ngIf="phone.touched && phone.invalid || loading && phone.invalid">
                                <li *ngIf="phone.errors.required || phone.errors.minlength">
                                    Укажите телефон
                                </li>
                            </ul>
                        </div>
                        <div>
                            <input
                                    [(ngModel)]="email"
                                    #mail="ngModel"
                                    type="email"
                                    id="email-subscribe"
                                    name="E-mail"
                                    placeholder="Почта"
                                    email>
                        </div>
                        <div class="message-block">
              <textarea
                      [(ngModel)]="message"
                      #textform="ngModel"
                      id="message"
                      class="field"
                      name="message"
                      rows="4"
                      maxlength="200"
                      placeholder="Текст сообщения"
              ></textarea>

                        </div>
                        <div class="consultation_aligncenter">
                            <button [disabled]="form.invalid && loading"
                                    type="submit"
                                    class="consultation_btn">
                                <i class="fa fa-check" aria-hidden="true"></i> {{buttonText}}
                            </button>
                        </div>
                        <div class="consultation_req-fields"><sup>*</sup> обязательные поля</div>
                    </form>
                    <div class="consultation_close-btn" (click)="modalSwitcher()">&times;</div>
                </div>
            </div>
        </div>
    </div>
</footer>
