<section class="main_page_section" >
    <div class="season_banner">
        <span class="season_banner_text">
            <p>Дарим тепло</p>
            <p>через цветы</p>
            <div class="banner_btn cart-button" [routerLink]="['category', 'shop', 'Букеты']">Сделать заказ</div>
        </span>
    </div>
<!--  <button class='btn_main' [routerLink]="['category', 'shop', 'Букеты']">в магазин</button>-->
<!--  <div id="video" *responsive="{sizes:{min:992}}">-->
<!--    <video id="videoHero" [muted]="'muted'"  autoplay loop>-->
<!--    <source src="./assets/images/main/main.mp4" type="video/mp4">-->
<!--    </video>-->
<!--  </div>-->
</section>
