#videoHero, #video {
    display: none
}

.btn_main {
    display: none;
    font-family: 'Avenir', 'Montserrat', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 1.8rem;
    letter-spacing: 1px;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(100, 100%, 100%, 0.2);
    cursor: pointer;
    border: solid 1px #ffffff;
}

button:hover {
     box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
 }

@media only screen and (min-device-width: 992px) {
    #videoHero, #video {
        display: block;
    }
}

@media only screen and (max-device-width: 991px) {
    .main_page_section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main_page_section button {
        display: block;
    }
}


