.admin__section {
    max-width: 98vw;
}

.admin__title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
}

.admin__wrapper {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.admin__nav {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.admin__nav button {
    margin-bottom: 16px;
}

.navbar-brand {
    font-family: Roboto, sans-serif, Arial;
    font-weight: normal;
}
button[mat-raised-button]{

}

