.auth__section {
    margin: 0 auto;
    width: 40vw;
    text-align: center;

}

.auth__section h3 {
    margin-top: 30px;
    font-size: 20px;
}

.auth__form {
    padding: 32px 32px;
    /*border-radius: 2px;*/
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);*/
    /*background-color: #f0f0f0;*/
    color: #4d4d4d;
    margin-top: 40px;
}

.auth__error {
    font-family: Roboto, sans-serif, Arial;
    margin-top: 20px;
    color: rgb(244, 67, 54);;
    padding: 10px;
    border: 1px solid rgb(244, 67, 54);
    border-radius: 2px;
    background-color: #dddddd;
    font-size: 20px;
}

mat-form-field {
    display: block;
}

mat-form-field input {
    width: 100%;
    padding: 6px;
}
