button[mat-raised-button] {
    margin-bottom: 16px;
    width: 100%;
    display: inline-block;

}

button.add_item_btn {
    width: unset;
}

table {
    border-spacing: 0 10px;
    font-family: Roboto, 'Open Sans', sans-serif;
    border-radius: 3px;
}

th {
    padding: 10px 20px;
    /*border: 2px solid #cecccc;*/
    border: 1px solid #9a9a9a;
    font-size: 0.9em;
}

th:first-child {
    text-align: left;
}

td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #9a9a9a;
}

td:nth-child(2) {
    text-align: left;
}

.admin__img_visual {
    display: block;
}