table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

th {
    padding: 10px 20px;
    border: 2px solid #fff;

    font-size: 0.9em;
}

th:first-child {
    text-align: left;
}


td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border: 2px solid #fff;
}

td:nth-child(2) {
    text-align: left;
}

.admin__btn {
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    margin: 2px 0;

    border: solid 1px transparent;
    border-radius: 4px;

    padding: 0.5em 1em;

    color: #3d3d3d;
    background-color: #f8f85d;
}

.admin__btn-delete {
    background-color: #ff4500;
    color: #dddddd;
}

.admin__btn-new {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #4d4d4d;
    padding: 10px;
    font-size: 22px;
    background-color: #58f679;
}
.admin__img_visual{
    display: block;
}