<button class="add_item_btn" mat-raised-button [routerLink]="categoryIsProduct ?  ['/admin/main/products/create'] : ['/admin/main/visuals/create']">
    Добавить новый товар
</button>
<table class="admin__product_table">
    <thead>
    <tr>
        <th>ID</th><th>Название</th><th>Род. Категория</th><th>Категория</th><th *ngIf="categoryIsProduct">Подкатегория</th><th>Фото</th><th *ngIf="categoryIsProduct"  >Диамтр</th><th>Описание</th><th>Цена</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of getProducts()">
        <td>{{p._id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.parentCategory}}</td>
        <td>{{p.category}}</td>
        <td *ngIf="categoryIsProduct">{{p.subcategory || ' '}}</td>
        <td *ngIf="categoryIsProduct" ><span class="admin-img"><img [src]="p.img" alt="adminImg"></span></td>
        <td *ngIf="!categoryIsProduct"><span class="admin__img_visual admin-img" *ngFor="let i of p.img">

                        <img [src]="i" alt="adminImg">
            </span></td>
        <td *ngIf="categoryIsProduct">{{p.diameter || ' '}}</td>
        <td>{{p.description}}</td>
        <td>{{p.price}}</td>
        <td>
            <button
                    mat-raised-button color="primary"
                    [routerLink]="categoryIsProduct ? ['/admin/main/products/edit', p._id, {parentCategory: p.parentCategory}] : ['/admin/main/visuals/edit', p._id, {parentCategory: p.parentCategory}]">
                Редактировать
            </button>
            <button mat-raised-button color="warn"
                    (click)="deleteProduct(p._id)">
                Удалить
            </button>
        </td>
    </tr>
    </tbody>
</table>
