.mat-paginator-container {
    position: absolute;
    right: 0;
    bottom: 85px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 80px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
}

::ng-deep .mat-select-value {
    border-bottom: none !important;
}

::ng-deep .mat-paginator-page-size-select {
    min-width: 4vw !important;
}

::ng-deep mat-form-field {
    padding: 3px 6px;
    text-decoration: none;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 10px;
}

::ng-deep mat-form-field {
    padding: 3px 6px;
    margin: 16px 0;
    color: #4d4d4d;
    box-shadow: none;
    background-color: #ffffff;
}

@media only screen and (max-device-width: 445px) {
    ::ng-deep .mat-paginator-range-actions {
        min-height: unset !important;
        max-height: 20px !important;
    }

    ::ng-deep .mat-paginator-range-label {
        margin: 0 !important;
    }

    ::ng-deep .mat-paginator-page-size-select {
        margin: 0 !important;
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 6px 0 !important;
        border-top: 1px solid transparent !important;
    }
    .mat-paginator-container {
        min-height: 50px;
    }
}

