<div class="filter-catalog">
    <div class="navLink" [class.active-link]="orderSelector === 'expensive'"
         (click)="orderSelector = 'expensive'">сначала дороже
    </div>
    <div class="navLink" [class.active-link]="orderSelector === 'cheap'" (click)="orderSelector = 'cheap'">
        сначала дешевле
    </div>
    <div class="navLink" [class.active-link]="orderSelector === 'novelty'"
         (click)="orderSelector = 'novelty'">сначала новинки
    </div>
</div>
<div class="catalog-wrapper"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScroll()"
     >

    <div class="catalog-item"
         *ngFor=" let product of products; let i = index"
    >
        <app-cart-modal id="{{product._id}}">
            <span>{{product.name}}</span>
        </app-cart-modal>
        <a class="catalog-item__img"
           [routerLink]="['/category', parentCategory, 'id',  product._id]"
        >
            <img [src]="product.img" [alt]="product.name">
        </a>
        <span *ngIf="!!product.newProd" class="newProd"> Новинка </span>
        <div class="catalog-item__name">{{product.name}}</div>
        <div class="catalog-item__wrapper-price">
            <div class="catalog-item__prices">{{product.price}} грн
            </div>
            <div class="catalog-item__btn">
                <a class="toCardBtn"
                ><span class="toCart" (click)="addProductToCart(product)"
                       [class.hidden]="cart.productQuantity(product._id)">
               в корзину
            </span>
                    <p class="toCartHidden" (click)="cart.decrementQuantity(product)"
                       *ngIf="cart.productQuantity(product._id)">
                        убрать из корзины
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

